.btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-cl);
  background-color: var(--accent-cl);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: color var(--fast) linear, background-color var(--fast) linear, border var(--fast) linear;
  padding: 18px 28px;

  &:hover,
  &:focus {
    color: var(--accent-cl);
    background-color: var(--white-bg);
    border: 1px solid var(--accent-cl);
  }
}
