.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: var(--backdrop-bg);
  transition: opacity var(--fast) linear;
  overflow: auto;
  visibility: visible;
  opacity: 1;

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  width: 100%;
  max-width: 630px;
  min-height: 640px;
  background-color: var(--modal-bg);
  border-radius: 12px;
  transition: transform var(--fast) linear;
  padding: 76px 20px;

  .is-hidden & {
    transform: translate(-50%, 100%) scale(0);
  }
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/icon-close.svg');
  background-color: var(--modal-bg);
  border: none;
}
