:root {
  // FONTS
  --primary-font: 'Roboto', sans-serif;

  // BG COLORS
  --backdrop-bg: rgba(0, 0, 0, 0.55);
  --modal-bg: #ffffff;
  --body-bg: #ffffff;
  --accent-bg: #4285f4;

  // TEXT COLORS
  --accent-cl: #4285f4;
  --primary-title-cl: #010101;
  --secondary-title-cl: #ffffff;
  --primary-text-cl: #010101;
  --secondary-text-cl: #ffffff;
  --link-cl: #2979ff;
  --link-hover-cl: #2962ff;

  // CARD
  --card-set-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  // ANIMATION SPEED
  --fast: 0.3s;
}
