:root {
  // FONTS
  --main-font: 'Roboto', sans-serif;

  // TEXT COLORS
  --main-cl: #010101;
  --accent-cl: #4285f4;
  --white-cl: #ffffff;
  --title-cl: #010101;
  --link-cl: #2979ff;
  --link-hover-cl: #2962ff;

  // BG COLORS
  --main-bg: #ffffff;
  --accent-bg: #010101;
  --white-bg: #ffffff;
  --backdrop-bg: rgba(0, 0, 0, 0.55);
  --modal-bg: #ffffff;


  // CARD
  --card-set-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  // ANIMATION SPEED
  --fast: 0.3s;
}
