html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-cl);
  background-color: var(--main-bg);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  @include mq(tablet) {
    font-size: 16px;
  }

  @include mq(desktop) {
    font-size: 18px;
  }
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}


img {
  display: block;
  width: 100%;
  height: auto;
}


.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--link-cl);
  transition: color var(--fast) linear;

  &:hover,
  &:focus {
    color: var(--link-hover-cl);
  }
}

.accent-cl {
  color: var(--accent-cl);
}

.accent-bg {
  background-color: var(--accent-bg);
}

.bold {
  font-weight: 700;
}

.icon {
  fill: var(--accent-cl);
}

// for modal
.scroll-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}
